body
  background: white
  font-family: $base-font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  padding-top: 40px
  overflow-x: hidden

@for $i from 1 through 6
  h#{$i}
    font-family: $base-font-serif
    font-weight: 300

label
  font-weight: normal

.main-content
  margin: 0 auto 30px auto

.container-fluid,
.container
  @media #{$medium-up}
    max-width: 960px

.btn
  font-family: $base-font-serif
  text-transform: uppercase
  box-shadow: rgba(black, .15) 0 -4px 0 inset
  border: 0
  &:active
    box-shadow: rgba(black, .20) 0 -4px 0 inset

.center
  text-align: center

.svg-icon
  +svg-reset

.back-title-box
  float: left
  margin: 5px 10px 0 0
