body
  background: white
  font-family: $base-font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  padding-top: 40px

@for $i from 1 through 6
  h#{$i}
    font-family: $base-font-serif
    font-weight: 300

label
  font-weight: normal

.main-content
  margin: 0 0 30px 0

.btn
  font-family: $base-font-serif
  text-transform: uppercase
  box-shadow: rgba(black, .15) 0 -4px 0 inset
  border: 0

.center
  text-align: center

.svg-icon
  +svg-reset
