.stats-button-items
  .btn
    display: block
    padding: 20px
    word-break: break-all
    white-space: initial
    margin-bottom: 20px
    background: #eee
    line-height: 1
    span
      display: block
      &.name
        font-size: 16px
        font-family: $base-font
        color: #888
        margin-bottom: 10px
      &.weight
        font-size: 40px
.current-weight-stats
  text-align: center
  margin: 0 0 20px 0
  &.up
    h2
      color: $brand-success
  &.down
    h2
      color: $brand-danger
  h2
    margin: 0
    font-size: 48px
    color: $color-gray
    font-weight: 600
    font-family: $base-font
    line-height: 1.2
    span
      font-weight: 400
  p
    margin: 0
    color: $color-gray
