.workout
  .jumbotron
    text-align: center
    padding: 30px
    background: #eee
    border-radius: 2px
    margin: 20px 0
.workout-box
  .category-box,
  .training-box
    position: relative
    max-width: 600px
  .category-box
    text-align: center
    margin: 20px auto
    p
      margin: 0
      font-size: 20px
      color: #999
      padding: 0 60px
      @media #{$medium-up}
        font-size: 26px
  .training-box
    text-align: center
    margin: 0 auto 20px auto
    p
      margin: 0
      font-size: 26px
      padding: 0 60px
      @media #{$medium-up}
        font-size: 36px
  .weight-box
    text-align: center
    margin: 0 0 40px 0
    .weight
      font-size: 80px
      font-weight: bold
      line-height: 1
      margin: 20px 0 0 0
      @media #{$medium-up}
        font-size: 120px
      &:after
        content: "kg"
        font-size: 28px
        font-weight: normal
        color: #999
    .weight-each-side
      margin: 5px 0 20px 0
      font-size: 16px
      color: #999
      span
        font-weight: bold
  .evolution-box
    .stats-info
      margin: 0 auto 20px auto
      max-width: 50%
      text-align: center
      color: #999
      &.up
        color: $brand-success
      &.down
        color: $brand-warning
      p
        font-size: 16px
        margin: 0
    .stats
      text-align: center
      .item
        display: inline-block
        margin: 0 5px
        color: #999
        background: #eee
        padding: 5px
        border-radius: 2px
        position: relative
        .weight
          font-size: 20px
        .date
          font-size: 11px
          max-width: 50px
          text-transform: lowercase
        &.up
          color: $brand-success
        &.down
          color: $brand-warning
        &.level-0
          &.up
            top: -4px
          &.down
            top: 4px
        &.level-1
          &.up
            top: -8px
          &.down
            top: 8px
        &.level-2
          &.up
            top: -12px
          &.down
            top: 12px

.direction-actions
  .svg-icon
    width: 30px
    height: 30px
    display: inline-block
    fill: #ccc
  .next,
  .prev
    cursor: pointer
    position: absolute
    z-index: 2
    left: 0
    top: 50%
    transform: translateY(-50%)
    background: white
    padding: 0 10px 0 0
  .next
    left: auto
    right: 0
    padding: 0 0 0 10px

.inline-edit-mode
  &.active
    .text
      display: none
    .input
      display: block
  .text
  .input
    display: none

.training-list-edit
  +ul-reset
  > li
    margin: 0 0 20px 0
    padding: 0 0 20px 0
    border-bottom: 1px solid #ddd
    > ul
      +ul-reset
      padding-left: 15px
      border-left: 2px solid #eee
      margin-bottom: 20px
      li
        font-size: 16px
        line-height: 2

.btn-plus,
.btn-minus
  padding: 0 20px
  border: 0
  box-shadow: none
  font-size: 64px
  line-height: 1
  &:active,
  &:active:focus,
  &:focus
    box-shadow: none
.btn-plus,
  color: $brand-success
  &:hover
    color: lighten($brand-success, 10%)
.btn-minus
  color: $brand-warning
  &:hover
    color: lighten($brand-success, 10%)
